@import "tailwindcss";


@theme {
  --color-orange: #e84925;
  --color-primary: #101828;
  --color-secondary: #4A5565;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--color-primary);
  background: #fff;
  font-family: var(--font-futura), sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}